<div class="links-index">
<h2><%= current_user.first_name %> <%= current_user.last_name %>'s Links</h2>
<%= form_for @link do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.submit "Add Link" %>
<% end  %>

  <div class="row links-collection">
    <div class="col-md-2">Title </div><div class="col-md-4">URL</div><div class="col-md-2">Status</div>
  </div><hr/>
  <% current_user.links.each do |link| %>
  <div class="row">
    <div class="col-md-2"><%= link.title %></div>
    <div class="col-md-4 URL"><%= link.url %></div>
    <div class="col-md-2 link read-status"> <%= link.read %></div>
    <% if link.read == false %>
      <div class="col-md-2"><a href="" class="link mark-as-read" id="link-<%= link.id %>">Mark as Read</a></div>
    <% end %>
    <% if link.id %>
      <div class="col-md-2"> <%= link_to "Edit", edit_link_path(link) %></div>
    <% end %>
  </div>
  <% end  %>

</div>
